<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.royals.edunotes">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/qwerty"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/qwerty"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.royals.edunotes._activities.MainActivity" />
        <activity android:name="com.royals.edunotes._activities.WelcomeActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.royals.edunotes._activities.Setting" />
        <activity android:name="com.royals.edunotes._activities.HackList" />
        <activity android:name="com.royals.edunotes._activities.BookmarkHackListActivity" />

        <receiver android:name="com.royals.edunotes.AlarmReceiver" />
        <receiver
            android:name="com.royals.edunotes.AlarmBootReceiver"
            android:enabled="false"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <activity android:name="com.royals.edunotes._activities.SearchActivity"></activity>
    </application>

</manifest>